### 读取所有数据

In [37]:
import pandas as pd

# 文件路径
file_path = 'Deal_max_engine_coolant_temp_attack_masquerade.csv'

# 读取CSV文件
df = pd.read_csv(file_path, header=None)  # 假设CSV文件没有列名

# 假设第10列是标签列，索引为9（因为Python索引从0开始）
label_column = df.iloc[:, 9]  # 选择第10列

# 计算每个唯一值的出现次数
label_counts = label_column.value_counts()

# 打印结果
print(label_counts)

0.0    57098
1.0       43
Name: 9, dtype: int64

In [20]:
import pandas as pd
import numpy as np
import os

# 定义文件夹路径
folder_path = '.'

# 文件名列表
file_names = ['Deal_reverse_light_off_attack_1_masquerade.csv', 
              'Deal_max_speedometer_attack_3_masquerade.csv', 
              'Deal_reverse_light_off_attack_2_masquerade.csv', 
              'Deal_correlated_signal_attack_2_masquerade.csv', 
              'Deal_max_engine_coolant_temp_attack_masquerade.csv', 
              'Deal_max_speedometer_attack_1_masquerade.csv', 
              'Deal_max_speedometer_attack_2_masquerade.csv', 
              'Deal_reverse_light_off_attack_3_masquerade.csv', 
              'Deal_correlated_signal_attack_3_masquerade.csv', 
              'Deal_reverse_light_on_attack_2_masquerade.csv', 
              'Deal_reverse_light_on_attack_1_masquerade.csv', 
              'Deal_correlated_signal_attack_1_masquerade.csv', 
              'Deal_reverse_light_on_attack_3_masquerade.csv']

# 准备一个空的DataFrame来存储合并后的数据
combined_df = pd.DataFrame()

# 读取每个文件，更新列名和攻击类型
for file_name in file_names:
    file_path = os.path.join(folder_path, file_name)
    df = pd.read_csv(file_path, header=None)  # 假设原始文件没有列名
    # 更新列名
    column_names = [f'ID{i}' for i in range(9)] + ['label']
    df.columns = column_names
    # 提取攻击类型信息
    attack_type = '_'.join(file_name.split('_')[1:-2])
    # 根据label列的值分配攻击类型或"normal"
    df['attack_type'] = np.where(df['label'] == 1, attack_type, 'normal')
    # 将读取的数据添加到总的DataFrame中
    combined_df = pd.concat([combined_df, df], ignore_index=True)

# 计算attack_type的数量
attack_type_counts = combined_df['attack_type'].value_counts()

# 打印attack_type的数量
print(attack_type_counts)

normal                      1423358
max_speedometer_attack        11624
reverse_light_on_attack        7930
correlated_signal_attack       5453
reverse_light_off_attack       5440
max_engine_coolant_temp          43
Name: attack_type, dtype: int64

In [21]:
combined_df = combined_df.drop('label', axis=1)
print(combined_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1453848 entries, 0 to 1453847
Data columns (total 10 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   ID0          1453848 non-null  int64
 1   ID1          1453848 non-null  int64
 2   ID2          1453848 non-null  int64
 3   ID3          1453848 non-null  int64
 4   ID4          1453848 non-null  int64
 5   ID5          1453848 non-null  int64
 6   ID6          1453848 non-null  int64
 7   ID7          1453848 non-null  int64
 8   ID8          1453848 non-null  int64
 9   attack_type  1453848 non-null  object
dtypes: int64(9), object(1)
memory usage: 110.9+ MB
None

合并'label', 'category', 'specific_class'列

查看合并以后的类别情况。

In [22]:
# 查看 'Label' 列的所有唯一值及其出现次数
combined_df = combined_df.rename(columns={'attack_type': 'Label'})
label_counts = combined_df['Label'].value_counts()
# 打印结果
print(label_counts)

normal                      1423358
max_speedometer_attack        11624
reverse_light_on_attack        7930
correlated_signal_attack       5453
reverse_light_off_attack       5440
max_engine_coolant_temp          43
Name: Label, dtype: int64

In [24]:
combined_df.describe()

,ID0,ID1,ID2,ID3,ID4,ID5,ID6,ID7,ID8
count,1.453848e+06,1.453848e+06,1.453848e+06,1.453848e+06,1.453848e+06,1.453848e+06,1.453848e+06,1.453848e+06,1.453848e+06
mean,7.456370e+02,4.777223e+01,6.129550e+01,6.171081e+01,5.934673e+01,6.613537e+01,5.586354e+01,7.101236e+01,7.975526e+01
std,5.463976e+02,6.451770e+01,7.759191e+01,8.194715e+01,7.865313e+01,8.344820e+01,7.510708e+01,8.341113e+01,8.136489e+01
min,6.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.630000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,6.510000e+02,1.600000e+01,2.200000e+01,1.200000e+01,7.000000e+00,1.600000e+01,9.000000e+00,2.500000e+01,5.700000e+01
75%,1.176000e+03,8.200000e+01,8.900000e+01,1.050000e+02,1.190000e+02,1.240000e+02,1.200000e+02,1.290000e+02,1.360000e+02
max,1.788000e+03,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02

数据归一化

In [26]:
from sklearn.preprocessing import MinMaxScaler

# 创建归一化器实例
scaler = MinMaxScaler()

# 归一化'DATA_0'到'DATA_7'这些列
data_columns = ['ID0','ID1', 'ID2', 'ID3', 'ID4', 'ID5', 'ID6', 'ID7', 'ID8']
combined_df[data_columns] = scaler.fit_transform(combined_df[data_columns])

In [27]:
combined_df.describe()

,ID0,ID1,ID2,ID3,ID4,ID5,ID6,ID7,ID8
count,1.453848e+06,1.453848e+06,1.453848e+06,1.453848e+06,1.453848e+06,1.453848e+06,1.453848e+06,1.453848e+06,1.453848e+06
mean,4.150600e-01,1.873421e-01,2.403745e-01,2.420032e-01,2.327323e-01,2.593544e-01,2.190727e-01,2.784798e-01,3.127657e-01
std,3.066204e-01,2.530106e-01,3.042820e-01,3.213614e-01,3.084436e-01,3.272479e-01,2.945376e-01,3.271025e-01,3.190780e-01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.442200e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,3.619529e-01,6.274510e-02,8.627451e-02,4.705882e-02,2.745098e-02,6.274510e-02,3.529412e-02,9.803922e-02,2.235294e-01
75%,6.565657e-01,3.215686e-01,3.490196e-01,4.117647e-01,4.666667e-01,4.862745e-01,4.705882e-01,5.058824e-01,5.333333e-01
max,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [28]:
combined_df.head()

,ID0,ID1,ID2,ID3,ID4,ID5,ID6,ID7,ID8,Label
0,0.947250,0.015686,0.250980,0.015686,0.494118,0.121569,0.752941,0.082353,0.258824,normal
1,0.161055,0.564706,0.000000,0.176471,0.874510,0.125490,0.219608,0.364706,0.376471,normal
2,0.984287,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,normal
3,0.144220,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,normal
4,0.101010,0.023529,0.658824,0.066667,0.768627,0.062745,0.000000,0.031373,0.384314,normal

对数据进行放缩，将其转为[0,255]的形式

In [29]:
from sklearn.preprocessing import QuantileTransformer
# Transform all features into the scale of [0,1]
numeric_features = combined_df.dtypes[combined_df.dtypes != 'object'].index
scaler = QuantileTransformer() 
combined_df[numeric_features] = scaler.fit_transform(combined_df[numeric_features])

In [30]:
# Multiply the feature values by 255 to transform them into the scale of [0,255]
combined_df[numeric_features] = combined_df[numeric_features].apply(
    lambda x: (x*255))

In [31]:
combined_df.describe()

,ID0,ID1,ID2,ID3,ID4,ID5,ID6,ID7,ID8
count,1.453848e+06,1.453848e+06,1.453848e+06,1.453848e+06,1.453848e+06,1.453848e+06,1.453848e+06,1.453848e+06,1.453848e+06
mean,1.274876e+02,1.108493e+02,1.144654e+02,1.184750e+02,1.120808e+02,1.192311e+02,1.119934e+02,1.158819e+02,1.162013e+02
std,7.326597e+01,9.147107e+01,8.892862e+01,8.541853e+01,9.048398e+01,8.464022e+01,9.065422e+01,8.763717e+01,8.730299e+01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,6.317568e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.285210e+02,1.280105e+02,1.278829e+02,1.295420e+02,1.294144e+02,1.271171e+02,1.262237e+02,1.276276e+02,1.274362e+02
75%,1.877402e+02,1.914414e+02,1.916967e+02,1.916967e+02,1.919520e+02,1.916967e+02,1.915691e+02,1.913138e+02,1.910586e+02
max,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02

In [32]:
# 查看 'Label' 列的所有唯一值及其出现次数
label_counts = combined_df['Label'].value_counts()

# 打印结果
print(label_counts)

normal                      1423358
max_speedometer_attack        11624
reverse_light_on_attack        7930
correlated_signal_attack       5453
reverse_light_off_attack       5440
max_engine_coolant_temp          43
Name: Label, dtype: int64

对数据进行分类

In [39]:
df0=combined_df[combined_df['Label']=='normal'].drop(['Label'],axis=1)
df1=combined_df[combined_df['Label']=='max_speedometer_attack'].drop(['Label'],axis=1)
df2=combined_df[combined_df['Label']=='reverse_light_on_attack'].drop(['Label'],axis=1)
df3=combined_df[combined_df['Label']=='correlated_signal_attack'].drop(['Label'],axis=1)
df4=combined_df[combined_df['Label']=='reverse_light_off_attack'].drop(['Label'],axis=1)
df5=combined_df[combined_df['Label']=='max_engine_coolant_temp'].drop(['Label'],axis=1)

In [42]:
df5.describe()

,ID0,ID1,ID2,ID3,ID4,ID5,ID6,ID7,ID8
count,4.300000e+01,43.0,43.0,43.0,4.300000e+01,4.300000e+01,43.0,43.0,43.0
mean,1.929730e+02,0.0,0.0,0.0,1.437087e+02,8.155405e+01,255.0,0.0,0.0
std,2.875807e-14,0.0,0.0,0.0,2.875807e-14,1.437904e-14,0.0,0.0,0.0
min,1.929730e+02,0.0,0.0,0.0,1.437087e+02,8.155405e+01,255.0,0.0,0.0
25%,1.929730e+02,0.0,0.0,0.0,1.437087e+02,8.155405e+01,255.0,0.0,0.0
50%,1.929730e+02,0.0,0.0,0.0,1.437087e+02,8.155405e+01,255.0,0.0,0.0
75%,1.929730e+02,0.0,0.0,0.0,1.437087e+02,8.155405e+01,255.0,0.0,0.0
max,1.929730e+02,0.0,0.0,0.0,1.437087e+02,8.155405e+01,255.0,0.0,0.0

## 将数据集转为9 * 9 * 3的图像形式
1. 选取前27行数据
2. 对于不足27行的情况，提取前27行
3. 对选取的数据reshape为 9，9，3的形式

In [35]:
# import numpy as np
# from PIL import Image
# import os

# # 假设 combined_df 是你的原始 DataFrame
# labels = [
#     'normal', 
#     'max_speedometer_attack', 
#     'reverse_light_on_attack', 
#     'correlated_signal_attack', 
#     'reverse_light_off_attack', 
#     'max_engine_coolant_temp'
# ]
# image_counts = []

# needed_pixels = 9 * 9 * 3  # 每张图片需要的像素数
# rows_needed = 27  # 每张图片需要的行数

# for idx, label in enumerate(labels):
#     df = combined_df[combined_df['Label'] == label].drop(['Label'], axis=1)
#     image_path = f"./train/{idx}/"
#     os.makedirs(image_path, exist_ok=True)
    
#     image_count = 0  # 初始化当前类别的图像计数器
#     num_images = len(df) // rows_needed  # 计算可能生成的图片数量
    
#     # 处理所有完整的图片集
#     for i in range(num_images):
#         data_block = df.iloc[i*rows_needed:(i+1)*rows_needed].values.flatten()
#         if len(data_block) < needed_pixels:
#             data_block = np.tile(data_block, needed_pixels // len(data_block) + 1)[:needed_pixels]
        
#         image_data = data_block.reshape((9, 9, 3))
#         image_data = np.array(image_data, dtype=np.uint8)
#         new_image = Image.fromarray(image_data)
#         new_image.save(os.path.join(image_path, f'{image_count}.png'))
        
#         image_count += 1
    
#     # 处理最后不足384行的数据集
#     remainder = len(df) % rows_needed
#     if remainder != 0:
#         # 如果剩余行数不为0，使用类别的前384行作为替代
#         data_block = df.iloc[:rows_needed].values.flatten()
#         image_data = data_block.reshape((9, 9, 3))
#         image_data = np.array(image_data, dtype=np.uint8)
#         new_image = Image.fromarray(image_data)
#         new_image.save(os.path.join(image_path, f'{image_count}.png'))
#         image_count += 1
    
#     image_counts.append((label, image_count))

# # 输出每个类别的图像数量
# for label, count in image_counts:
#     print(f"Category: {label} - Images: {count}")

Category: normal - Images: 52717
Category: max_speedometer_attack - Images: 431
Category: reverse_light_on_attack - Images: 294
Category: correlated_signal_attack - Images: 202
Category: reverse_light_off_attack - Images: 202
Category: max_engine_coolant_temp - Images: 2

In [44]:
import numpy as np
from PIL import Image
import os

# 假设 combined_df 是你的原始 DataFrame
labels = [
    'normal', 
    'max_speedometer_attack', 
    'reverse_light_on_attack', 
    'correlated_signal_attack', 
    'reverse_light_off_attack', 
    'max_engine_coolant_temp'
]
image_counts = []

needed_pixels = 9 * 9 * 3  # 每张图片需要的像素数
rows_needed = 27  # 每张图片需要的行数

for idx, label in enumerate(labels):
    df = combined_df[combined_df['Label'] == label].drop(['Label'], axis=1)
    image_path = f"./train/{idx}/"
    os.makedirs(image_path, exist_ok=True)
    
    image_count = 0  # 初始化当前类别的图像计数器
    if label == 'max_engine_coolant_temp':
        # 使用滑动窗口方法
        num_images = len(df) - rows_needed + 1
        for i in range(num_images):
            data_block = df.iloc[i:i+rows_needed].values.flatten()
            if len(data_block) < needed_pixels:
                data_block = np.tile(data_block, needed_pixels // len(data_block) + 1)[:needed_pixels]

            image_data = data_block.reshape((9, 9, 3))
            image_data = np.array(image_data, dtype=np.uint8)
            new_image = Image.fromarray(image_data)
            new_image.save(os.path.join(image_path, f'{image_count}.png'))
            image_count += 1
    else:
        # 原有方法
        num_images = len(df) // rows_needed
        for i in range(num_images):
            data_block = df.iloc[i*rows_needed:(i+1)*rows_needed].values.flatten()
            if len(data_block) < needed_pixels:
                data_block = np.tile(data_block, needed_pixels // len(data_block) + 1)[:needed_pixels]
            
            image_data = data_block.reshape((9, 9, 3))
            image_data = np.array(image_data, dtype=np.uint8)
            new_image = Image.fromarray(image_data)
            new_image.save(os.path.join(image_path, f'{image_count}.png'))
            
            image_count += 1
    
        # 处理最后不足 rows_needed 行的数据集
        remainder = len(df) % rows_needed
        if remainder != 0:
            data_block = df.iloc[:rows_needed].values.flatten()
            image_data = data_block.reshape((9, 9, 3))
            image_data = np.array(image_data, dtype=np.uint8)
            new_image = Image.fromarray(image_data)
            new_image.save(os.path.join(image_path, f'{image_count}.png'))
            image_count += 1

    image_counts.append((label, image_count))

# 输出每个类别的图像数量
for label, count in image_counts:
    print(f"Category: {label} - Images: {count}")

Category: normal - Images: 52717
Category: max_speedometer_attack - Images: 431
Category: reverse_light_on_attack - Images: 294
Category: correlated_signal_attack - Images: 202
Category: reverse_light_off_attack - Images: 202
Category: max_engine_coolant_temp - Images: 17

## 数据划分，转换后的数据划分为测试数据和训练数据
1. 将处理好的数据分割，分割一部分作为测试数据
2. 其中测试数据占总的30%

In [45]:
import os
import shutil
from random import sample

# 图片存储的基础目录
base_dir = './train'
test_dir = './test'
os.makedirs(test_dir, exist_ok=True)  # 确保测试目录存在

# 类别标签
labels = ['0', '1', '2', '3', '4', '5']

# 为每个类别处理图片
for label in labels:
    class_dir = os.path.join(base_dir, label)  # 类别的目录
    images = os.listdir(class_dir)  # 列出所有图片
    test_sample = sample(images, k=int(len(images) * 0.3))  # 随机选择30%的图片
    
    # 为测试集创建相应的目录
    test_class_dir = os.path.join(test_dir, label)
    os.makedirs(test_class_dir, exist_ok=True)
    
    # 将选中的图片移动到测试目录
    for image in test_sample:
        src_path = os.path.join(class_dir, image)
        dst_path = os.path.join(test_class_dir, image)
        shutil.move(src_path, dst_path)  # 使用move进行移动，也可以用shutil.copy(src_path, dst_path)进行复制

# 输出完成信息
print("Test datasets have been created successfully.")

Test datasets have been created successfully.